@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>
    If you want to get in touch the developers,
    you may contact us through <a href="https://github.com/techset7set/540-Digital-Planner-2">github</a>.
</p>