@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Digital Planner</h1>
    <!-- <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p> -->
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Help / About &raquo;"), "About", "Home", new { }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Login or create an account and begin adding events to your schedule.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Auto Assignment</h2>
        <p>Set your availabilities and let the planner create your schedule for you.</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>View Your Schedule</h2>
        <p>Open your schedule in day, week, or month view.  Organize events by category and easily mark items as complete</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>