@model Boolean
@{ 
    String name = "AutomaticAssignment";
    if (ViewBag.name != null)
    {
        name = ViewBag.name;
    }

    var value = "false";
    if (Model)
    {
        value = "true";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        //Toggle AutoAssign buttons
        $('.autoassign_picker .btn').click(function () {
            $(this).parent().find('input').val($(this).data("value"));
            //Remove old info, set the new info
            $('.autoassign_picker').find('.autoassign_picker-enable').removeClass('btn-primary');
            $('.autoassign_picker').find('.autoassign_picker-disable').removeClass('btn-primary');
            $(this).addClass('btn-primary');
            //Remove old info, set the new info for the glyphicon
            $('.autoassign_picker').find('.autoassign_picker-enable').html('<span class="glyphicon glyphicon-unchecked"></span>');
            $('.autoassign_picker').find('.autoassign_picker-disable').html('<span class="glyphicon glyphicon-unchecked"></span>');
            $(this).html('<span class="glyphicon glyphicon-check"></span>');
            //Concat original text onto the buttons
            $('.autoassign_picker').find('.autoassign_picker-enable').html(
                $('.autoassign_picker').find('.autoassign_picker-enable').html() + ' On'
            );
            $('.autoassign_picker').find('.autoassign_picker-disable').html(
                $('.autoassign_picker').find('.autoassign_picker-disable').html() + ' Off'
            );
        });
    });
</script>

<div class="autoassign_picker">
    <div class="btn-group form-group container" data-toggle="buttons-radio">
        <input type='hidden' class="form-control" name="@name" id="@name" value="@value" />
        @if (Model)
        {
            <button style="display:inline-block;" type="button" data-value="true" class="btn btn-default btn-primary autoassign_picker-enable"><span class="glyphicon glyphicon-check"></span>&nbsp;On</button>
            <button style="display:inline-block;" type="button" data-value="false" class="btn btn-default autoassign_picker-disable"><span class="glyphicon glyphicon-unchecked"></span>&nbsp;Off</button>
        }
        else
        {
            <button style="display:inline-block;" type="button" data-value="true" class="btn btn-default autoassign_picker-enable"><span class="glyphicon glyphicon-unchecked"></span>&nbsp;On</button>
            <button style="display:inline-block;" type="button" data-value="false" class="btn btn-default btn-primary autoassign_picker-disable"><span class="glyphicon glyphicon-check"></span>&nbsp;Off</button>
        }
    </div>
</div>