@model Boolean

@{
    var index = ViewBag.index;
    var use_class = "";
    var initial_value = "";

    if (Model)
    {
        use_class = "glyphicon-check text-success btn-success";
        initial_value = "1";
    }
    else
    {
        use_class = "glyphicon-unchecked text-danger btn-danger";
        initial_value = "0";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.iscomplete-picker-@index').unbind('click').click(function () {
            var input = $(this).find('input');

            //Change the value
            if ($(input).data('value') === '1') {
                $(input).data('value', '0');
            } else {
                $(input).data('value', '1');
            }

            //Remove class from span
            $(this).removeClass('glyphicon-check')
            $(this).removeClass('text-success')
            $(this).removeClass('btn-success')
            $(this).removeClass('glyphicon-unchecked')
            $(this).removeClass('text-danger')
            $(this).removeClass('btn-danger')

            //Update class for span
            if ($(input).data('value') === '1') {
                $(this).addClass('glyphicon-check')
                $(this).addClass('text-success')
                $(this).addClass('btn-success')
            } else {
                $(this).addClass('glyphicon-unchecked')
                $(this).addClass('text-danger')
                $(this).addClass('btn-danger')
            }
        });
    });
</script>


<span class="iscomplete-picker-@index btn glyphicon @use_class">
    <input type="checkbox" hidden="hidden" value="@initial_value" />
</span>

