@model int
@{
    var value = Model;
    if(value > 4)
    {
        value = 4;
    }
    if(value < 1)
    {
        value = 1;
    }

    String low_check = "unchecked", med_check = "unchecked", med_high_check = "unchecked", high_check = "unchecked";
    switch(value)
    {
        case 1:
            low_check = "check";
            break;
        case 2:
            med_check = "check";
            break;
        case 3:
            med_high_check = "check";
            break;
        case 4:
            high_check = "check";
            break;
        default:
            low_check = "check";
            value = 1;
            break;
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        //Toggle Priority buttons
        $('.priority_picker .btn').click(function () {
            $('.priority_picker input').val($(this).data("value"));
            //Remove old info, set the new info
            $(this).parent().find('.glyphicon').removeClass('glyphicon-check');
            $(this).parent().find('.glyphicon').addClass('glyphicon-unchecked');
            $(this).find('.glyphicon').removeClass('glyphicon-unchecked');
            $(this).find('.glyphicon').addClass('glyphicon-check');
        });
    });
</script>

<div class="priority_picker">
    <div class="btn-group form-group container" data-toggle="buttons-radio">
        <input type='hidden' class="form-control" name="Priority" id="Priority" value="@value" />

        <button style="display:inline-block;" type="button" data-value="1" class="btn btn-default btn-info"><span class="glyphicon glyphicon-@low_check"></span>&nbsp;low</button>
        <button style="display:inline-block;" type="button" data-value="2" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-@med_check"></span>&nbsp;med</button>
        <button style="display:inline-block;" type="button" data-value="3" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-@med_high_check"></span>&nbsp;med-high</button>
        <button style="display:inline-block;" type="button" data-value="4" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-@high_check"></span>&nbsp;high</button>
    </div>
</div>