@model int
@{
    var value = Model;
    if(value > 4)
    {
        value = 4;
    }
    if(value < 1)
    {
        value = 1;
    }

    String low_check = "unchecked", med_check = "unchecked", md_high_check = "unchecked", high_check = "unchecked";
    switch(value)
    {
        case 1:
            low_check = "check";
            break;
        case 2:
            med_check = "check";
            break;
        case 3:
            md_high_check = "check";
            break;
        case 4:
            high_check = "check";
            break;
        default:
            low_check = "check";
            value = 1;
            break;
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        //Toggle Priority buttons
        $('.autoassign_picker .btn').click(function () {
            $(this).parent().find('input').val($(this).data("value"));
            //Remove old info, set the new info
            $(document).find('.autoassign_picker-enable').removeClass('btn-primary');
            $(document).find('.autoassign_picker-disable').removeClass('btn-primary');
            $(this).addClass('btn-primary');
            //Remove old info, set the new info for the glyphicon
            $(document).find('.autoassign_picker-enable').html('<span class="glyphicon glyphicon-unchecked"></span>');
            $(document).find('.autoassign_picker-disable').html('<span class="glyphicon glyphicon-unchecked"></span>');
            //$(this).html('<span class="glyphicon glyphicon-ok"></span>');
            $(this).html('<span class="glyphicon glyphicon-check"></span>');
            //Concat original text onto the buttons
            $(document).find('.autoassign_picker-enable').html(
                $(document).find('.autoassign_picker-enable').html() + ' On'
            );
            $(document).find('.autoassign_picker-disable').html(
                $(document).find('.autoassign_picker-disable').html() + ' Off'
            );
        });
    });
</script>

<div class="priority_picker">
    <div class="btn-group form-group container" data-toggle="buttons-radio">
        <input type='hidden' class="form-control" name="AutoAssign" id="Priority" value="@value" />

        <button style="display:inline-block;" type="button" data-value="1" class="btn btn-default btn-info"><span class="glyphicon glyphicon-@low_check"></span>&nbsp;low</button>
        <button style="display:inline-block;" type="button" data-value="2" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-@med_check"></span>&nbsp;med</button>
        <button style="display:inline-block;" type="button" data-value="3" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-@md_high_check"></span>&nbsp;md-high</button>
        <button style="display:inline-block;" type="button" data-value="4" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-@high_check"></span>&nbsp;high</button>
    </div>
</div>