@{ 
    String name = "Duration";
    if (ViewBag.name != null)
    {
        name = ViewBag.name;
    }

    int? index = ViewBag.index;
    if (index == null)
    {
        index = 0;
    }

    TimeSpan ts = new TimeSpan(0, 0, 0);
    DateTime dt = DateTime.Today;
    if (ViewBag.time != null)
    {
        ts = ViewBag.time;
        dt = dt.AddTicks(ts.Ticks);
    }
}

<div class="TimeSelector bootstrap-datetimepicker-widget" style="overflow:hidden;">
    <input id="@name-@index" class="form-control" name="@name" type="hidden" value="@dt.ToString("HH:mm")" />
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="timepicker-@index"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#timepicker-@index").datetimepicker({
                format: "HH:mm",
                useCurrent: false,
                inline: true,
                sideBySide: true,
                defaultDate: "@dt.ToString("yyyy-MM-ddTHH:mm:ss.ffffff")"   //ISO Format
            });

            $("#timepicker-@index, #timepicker-@index *").trigger('dp.update')

            $("#timepicker-@index").on('dp.change', function (ev) {
                //console.log(ev.date.format("H:mm"))
                $("#@name-@index").val(ev.date.format("H:mm"));
            });

        });
    </script>
</div>