@using Digital_Planner.Models;
@model Tuple<DateTime, ICollection<Digital_Planner.Models.Event>>
@* @model IEnumerable<Event>*@


@{ 
    //Using these because it works a little more clearly than using just an IEnumerable
    var intended_day = Model.Item1;
    var events = Model.Item2;
    var today_by_cats = events
        .Where(e => e.OccursAt.DayOfYear.Equals(intended_day.DayOfYear) && e.OccursAt.Year.Equals(intended_day.Year))
        //|| e.CompleteBy.DayOfYear.Equals(intended_day.DayOfYear) && e.CompleteBy.Year.Equals(intended_day.Year))
        .OrderBy(e => e.Priority)
        .ThenBy(e => e.OccursAt)
        ;
}

<table class="table table-hover table-responsive" style="margin-bottom:1%;">
    @if (today_by_cats.Count() > 0)
    {
        <tr>
            <th class="schedule_day_header" colspan="7"><h4>@intended_day.ToString("dddd, M/d/yyyy")</h4></th>
        </tr>

        <tr>
            <th>Category</th>
            <th>Occurs</th>
            <th>Title</th>
            <th>Completion Time</th>
            <th>Completed</th>
            <!-- Blank header for styling -->
            <th colspan="2"></th>
        </tr>

        foreach (var cat in today_by_cats.GroupBy(e => e.CategoryID))
        {
            @Html.Partial("_Category", cat)
        }
    }
</table>

