@model ICollection<Digital_Planner.Models.Event>

@{
    /* Events occurring/finishing in the next [0, 6] days */
    var week_events = Model
        .Where(e => 
            (0 <= (e.OccursAt.DayOfYear - DateTime.Now.DayOfYear) && e.OccursAt.DayOfYear - DateTime.Now.DayOfYear <= 6)
            ||
            (0 <= (e.CompleteBy.DayOfYear - DateTime.Now.DayOfYear) && e.CompleteBy.DayOfYear - DateTime.Now.DayOfYear <= 6)
        )
        .OrderByDescending(e => e.Priority)
        .ThenBy(e => e.OccursAt)
        .ToList();
}
    @{ 
        if(week_events.Count() == 0)
        {
            <tr>
                <td class="text-muted">No Events</td>
            </tr>
        }
        else
        {
            for (var i = 0; i <= 7; i++)
            {
                @Html.Partial("_Day", new Tuple<DateTime, ICollection<Digital_Planner.Models.Event>>(DateTime.Today.AddDays(i), week_events))
            }
        }
    }