@model ICollection<Digital_Planner.Models.Event>

@{
    /* Events occurring/finishing in the next [0, 7] days */
    var week_events = Model
        .Where(e => 
            (0 <= (e.OccursAt.DayOfYear - DateTime.Today.DayOfYear) && e.OccursAt.DayOfYear - DateTime.Today.DayOfYear <= 7)
            ||
            (0 <= (e.CompleteBy.DayOfYear - DateTime.Today.DayOfYear) && e.CompleteBy.DayOfYear - DateTime.Today.DayOfYear <= 7)
        )
        .OrderBy(e => e.Priority)
        .ThenBy(e => e.OccursAt)
        .ToList();
}
    @{ 
        var offset = 0;

        if(week_events.Count() == 0)
        {
            <tr>
                <td class="text-muted">No Events</td>
            </tr>
        }
        else
        { 
            foreach (var events in week_events.GroupBy(e => e.OccursAt.DayOfYear))
            {
                @Html.Partial("_Day", new Tuple<DateTime, ICollection<Digital_Planner.Models.Event>>(DateTime.Today.AddDays(offset++), Model))
            }
        }
    }