@using Digital_Planner_2.Models;
@model IEnumerable<Category>

@{
    ViewBag.Title = "Categories";
}

<h2>My Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
@{

    if(Model.Count() > 0)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.Partial("_Edit-Detail-Delete_Buttons", new Tuple<System.Web.Mvc.ControllerBase, int>(ViewContext.Controller, item.CategoryID))
            </td>
        </tr>
        }
    }
    else
    {
        <tr>
            <td>There are no categories to display.</td>
        </tr>
    }
}

</table>
